/********************Sombras*/

#box {
	width: 400px;
	height: 400px;
	margin: 50px auto;
	padding: 8px;
	background: #009670;
	/*box-shadow: 10px 10px 2px 20px black;*/
	box-shadow: 10px 10px 2px black, -10px -10px 2px red;
}

#box h1 {
	color: white;
	font-size: 60px;
	/*text-shadow: 20px 20px 10px black;*/
	/*text-shadow: 20px 20px rgba(0,0,0,0.5);*/
	text-shadow: 4px 4px black;			- 
}